<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p>Index</p>
    <form action="/post" method="post">
        <input type="text" name="aaaa[]">
        <input type="text" name="aaaa[]">
        <input type="text" name="aaaa[]">
        <button type="submit">submit</button>
    </form>
</body>
</html>