<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
    <p>Index</p>
    <form action="/post2" method="post">
        <label for="a">和</label>
        <input id="a" type="radio" name="check" value="和">

        <label for="b">洋</label>
        <input id="b" type="radio" name="check" value="洋">

        <label for="c">中</label>
        <input id="c" type="radio" name="check" value="中">

        <label for="d">他</label>
        <input id="d" type="radio" name="check" value="他">

        <input id="ext" type="text" name="check_ext" >
        <button type="submit">submit</button>
    </form>
</body>
</html>