<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p>Index</p>
    <form action="/post" method="post">
        <label for="a">a</label>
        <input type="checkbox" value="a" name="test" id="a">
        <label for="b">b</label>
        <input type="checkbox" value="b" name="test" id="b">
        <label for="c">c</label>
        <input type="checkbox" value="c" name="test" id="c">
        <button type="submit">submit</button>
    </form>
</body>
</html>